$bc-category-icon-size: 3em;

.bc-category-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: $bc-category-icon-size;
  width: $bc-category-icon-size;

}

.bc-category-list-item {
  p {
    display: none;
  }
}

.bc-category-header {
  display: none;
}

.mission-statement {
  padding-top: 4em;
}

