$bc-navy : #000845;

.hello-world-banner {
    height: 500px;
    width: 100%;
    background: url($child_helping_img);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

@font-face {
  font-family: WorkSans;
  src: url($work_sans_regular) format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: WorkSans;
  src: url($work_sans_regular) format('truetype');
  font-weight: bold;
}

body {
    font-family: WorkSans;
    font-size: 15px;
}


.hello-world {
    color: white;
}


.btn {
  background: $tertiary;
}

.d-header-icons {
  .d-icon {
    color: $bc-navy;
  }
}


th {
    button .d-icon {
      color: $bc-navy;
    }
}
.topic-list {
  th {
    button .d-icon {
      color: $bc-navy;
    }
  }
}
.discourse-tag {
  color: $bc-navy;
}

a {
  color: $bc-navy;
  text-decoration: none;
  cursor: pointer;
  &:visited {
    color: $bc-navy;
  }
  &:hover {
    color: $secondary;
  }
  &:active {
    color: $bc-navy;
  }
}
