$bc-navy : #000845;
$bc-yellow: #FFF400;
$bc-pink: #F2136E;
$bc-green:#00FFA7;
$bc-orange: #FC7A28;


.d-header {
    background-color: $bc-navy;
    height: 70px;
}




.bc-category-header {
  margin-top: 0.5em;
  color: $bc-navy;
  display: none;
}



.bc-category-section{
  width: 100%;
  background: unset;
  display: none;
  flex-direction: column  ;
  padding-top: 6em;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;

}
.anon .bc-category-section {
  padding-top: unset;
  background: $tertiary;
}

.bc-category-list {
  width: 100%;
  display: flex;
  flex-direction: row  ;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.bc-category-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em;
}


.bc-transport-icon {
  background-image: url($transport_img);
}

.bc-homes-icon {
  background-image: url($homes_img);
}

.bc-places-icon {
  background-image: url($places_img);
}

.bc-living-icon {
  background-image: url($living_img);
}

.bc-money-icon {
  background-image: url($money_img);
}


@font-face {
  font-family: WorkSans;
  src: url($work_sans_regular_ttf) format('truetype'),
       url($work_sans_regular_woff) format('woff'),
       url($work_sans_regular_woff2) format('woff2');
  font-weight: normal;
}
@font-face {
  font-family: WorkSans;
  src: url($work_sans_bold_ttf) format('truetype'),
       url($work_sans_bold_woff) format('woff'),
       url($work_sans_bold_woff2) format('woff2');
  font-weight: bold;
}

body {
    font-family: WorkSans;
    font-size: 15px;
}

.bc-button-link {
  background: $quaternary;
  color: $secondary;
  font-size: 1.1487em;
  padding: 6px 12px;
  font-weight: bold;
}


.btn {
  background: $tertiary;
}

.btn-primary {
  color: $bc-navy;
  font-weight: bold;
}

.d-header-icons {
  .d-icon {
    color: $secondary;
    font-size: 16px;
  }
}


th {
    button .d-icon {
      color: $bc-navy;
    }
}
.topic-list {
  th {
    button .d-icon {
      color: $bc-navy;
    }
  }
}
.discourse-tag {
  color: $bc-navy;
}

a {
  color: $bc-navy;
  text-decoration: none;
  cursor: pointer;
  &:visited {
    color: $bc-navy;
  }
  &:hover {
    color: $bc-navy;
  }
  &:active {
    color: $bc-navy;
  }
}

.topic-body {
  p {
    a {
      color: $bc-pink;
    }
  }
}


aside.onebox {
  .onebox-body {

    a[href] {
      color: $bc-pink;
      text-decoration: none;
    }

    a[href]:visited {
      color: $bc-pink;
    }
  }

}

.signup-cta {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  &.alert-info {
    background-color: $bc-orange;
  }
}



