$bc-category-icon-size: 7em;

.bc-category-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: $bc-category-icon-size;
  width: $bc-category-icon-size;

}
